*.iml
.idea
.calva
.clj-kondo
.lsp
/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
/.lein-*
profiles.clj
/.env
.nrepl-port

/node_modules
/log
/yarn.lock
/env/rrs-booking-firebase-adminsdk-ch74h-dc22791729.json
/env/user-password-hash-parameters.txt
/.envrc
/.cpcache
/.shadow-cljs
/src/gen
/dist
/resources
/.dir-locals.el
/**/*~
/build-report.html
